.dsbox{
 background-color: yellowgreen;
 height: 50px;
  
}


.sbox{
  background-color: whitesmoke;
  font-family: sans-serif;
  border: 2px solid gray;
  border-radius: 25px;
  height:22.5px;
}

.im1{
  margin-left: -30px;
  text-decoration: none;
}

.srchtop{
  font-size: 50px;
  background-color: greenyellow;
  margin-bottom:0;
}

.srchtop2{
  font-size: 30px;
  margin-top: -10px;
}

.vids{
  font-size: 30px;
  margin-left: 48%;
}

@media(max-width: 700px){
  .vids{
  margin-left: 42%;
}
}
