body {
      margin:0;
      padding:0;
      text-align:center;
      background-size: cover;
      background-position: center;
      font-family: sans-serif;
}
  .contact-title
      {
        margin-top: 100px;
        color: #fff;
        text-transform: uppercase;
        transition: all 4s ease-in-out;
      }
    .contact-title h1
      {
        font-size: 32px;
        line-height: 10px;
      }
    .contact-title h2
      {
        font-size: 16px;
    }
      
  form
    {
      margin-top: 50px;
      transition: all 4s ease-in-out
      
    }
    
  .form-control
    {
      width: 400px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid gray;
      color: #fff;
      font-size: 18px;
      margin-bottom: 16px;
      
    }
    
  input
    {
      height: 45px;
    }
  
  form .submit
    {
      background: #ff5722;
      border-color: transparent;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 50px;
      margin-top: 20px;
      border-radius: 30px;
      width: 200px;
      
    }
    
    form .submit:hover
    {
      background-color: #f44336;
      cursor: pointer;
    }
   
 
   
   
   .contact-form{
     background-color: lightcyan;
     max-width:450px;
     margin:auto;
     border-radius: 25px;
   }
   
   .msg{
     height: 100px;
   }
   
   .wholealign{
     border: solid 50px;
     background-color: lightblue;
     border-color: #333;
     border-width: 10px;
     border-radius: 25px;
     max-width:500px;
     margin:auto;
     color: blue;
     margin-top: 10%;
  
   }